.portfolio_container {
    display: grid;
    /*padding-left: 22rem;
    padding-right: 22rem;
    grid-template-columns: 30% 30% 30%;*/
    /*gap: 10%;*/
    grid-template-columns: 30% 30% 30%;
    gap: 2.5rem;
}

/* .portfolio_items {
    background: var(--color-bg-variant);
    margin: -2rem -2rem -2rem -2rem;
    width: 25rem;
    padding: 1.2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
} */
.portfolio_items,
.portfolio_item {
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.portfolio_items:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
}

.portfolio_item-image {
    border-radius: 1.5rem;
    overflow: hidden;
}

.portfolio_items h3 {
    margin: 1.2rem 0 2.rem
}

.portfolio_item-cta {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

/* ----------media queries---------- */
/* tablets */

@media screen and (max-width: 1024px) {
    .portfolio_conatiner {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;

    }

    /* ---------phones---------- */

    @media screen and (max-width: 600px) {
        .portfolio_conatiner {
            grid-template-columns: 1fr;
            gap: 1rem;
        }
    }