.container .about_container {
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
}

.about_me {
    width: 100;
    height: 55%;
    /* aspect-ratio: 1/1; */
    margin-left: 2rem;
    border-radius: 2rem;
    background: linear-gradient(40deg,
            transparent,
            var(--color-primary),
            transparent);
    display: grid;
    place-items: center;
    background: var(--color-primary);
}

.about_me-image {
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(10deg);
    transition: var(--transistion);
    margin-bottom: 5rem;

}

.about_me-image:hover {
    transform: rotate(0deg);
    transition: 2000ms;
}

.about_cards {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap-reverse;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.about_card {
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    transition: var(--transistion);
}

.about_card:hover {
    background: transparent;
    border-color: var(--color-primary);
    cursor: none;
}

.about_icon {
    color: var(--color-primary-variant);
    font-size: 3.7rem;
    margin-bottom: 1rem;
}

.about_card h5 {
    font-size: 0.95rem;
}

.about_card small {
    font-size: 0.9rem;
    color: var(--color-light)
}

.about_content p {
    font-size: 1.5rem;
    margin: 2rem 0 2.6rem;
    color: var(--color-light);
}

/* ----------media queries---------- */
/* tablets */

@media screen and (max-width: 1024px) {
    .about_conatiner {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .about_me {
        width: 50%;
        margin: 2rem auto 4rem;

    }

    .scroll_down {
        display: none;
    }

    .about_content p {
        /* margin: 1rem 0 1.5rem; */

    }

    .about_cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap-reverse;
        gap: 1.5rem;
        margin-bottom: 1rem;
    }

    .about_card {
        display: flex;
        justify-content: space-between;
        gap: 1.5rem;

    }

}

/* ---------phones---------- */

@media screen and (max-width: 600px) {

    .about_container {
        display: flex;
        justify-content: center;
    }

    .about_me-image {
        size: 100px;
    }

    .about_me {
        width: 65%;
        margin: 5 auto 3rem;
    }


    .about_content {
        text-align: center;
    }

    .about_content p {
        margin: 1.5rem 0;
    }

}